body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
}

header,
nav,
main,
aside,
footer {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

aside {
    float: right;
    width: 30%;
}

main {
    float: left;
    width: 65%;
}

pre {
    font-family: monospace;
    background-color: ivory;
    text-indent: 10px;
}

footer {
    clear: both;
}